body{
  font-family: 'Reenie Beanie', cursive;
  margin: 0px;
}

a:link{
  text-decoration: none;
  color: black;
}
#background{
  height: 29vh;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  z-index: -2;
}

#title{
  width: 75%;
  font-size: 700%;
  text-align: center;
  margin-top: 20px;
}
#mirror_girl{
  position: absolute;
  bottom: 23px;
  left: 66px;
}
#mirror_girl_img{
  height:60vh;
}
#mirror_girl_link:link{
  text-decoration: none;
}
#mirror_girl_link{
  font-size: 8vh;
  color: black;
  position: absolute;
  bottom: 29vh;
  left: 34px;
}
#lamp_girl{
  height: 55vh;
  position: absolute;
  bottom: 103px;
  transform: translate(200px,0px);
  z-index: -1;
}

#share{
  margin: 0px;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
}
#share h2{
  font-size: 200%;
  width: 6em;
}
.shareimg{
  height: 4vw;
}

#renderCanvas{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #title{
    display: none;
  }
  #tp_mobile{
    display: block;
    z-index: 4;
    transform: translate(-106px,382px);
  }
}
@media only screen and (max-width: 800px) {
  #lamp_girl{
    z-index: -1;
    transform: translateX(116px);
  }
  #share figure{
      margin: 0;
  }
  #mirror_girl {
    position: absolute;
    bottom: 56px;
    left: -2px;
  }
}
